.contact-section h1 {
    text-align: center;
    margin: 50px 0;
    color: var(--orange);
    background-color: var(--blue);
}

.contact-container {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    background-color: #F9F8F8;
}

.contact-address-map {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.address {
    margin: 10px 0;
    text-align: center;
    border-radius: 1rem;
    padding: 2rem 4rem;
    color: var(--orange);
    background-color: var(--blue);
}


/* Responsive CSS */

@media only screen and (max-width: 640px) {
    .contact-container {
        flex-direction: column;
    }
    
    .contact-form > iframe {
        width: 100%;
    }
    
    .contact-address-map {
        width: 100%;
    }
    .address {
        margin: 10px 0;
    }
}