nav {
    margin-top: 20px;
}

.navbar {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    font-family: 'Teko', sans-serif;
    color: var(--orange);
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.4;
    font-size: 40px;
    border-radius: 10px;
    padding: 20px 10px 0 10px;
    background-color: var(--blue);
}

.nav-links>ul {
    display: flex;
    gap: 30px;
}

.nav-links>ul>li>a {
    color: black;
}

.donate-btn>a {
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: var(--orange);
}

.donate-btn>a:hover {
    outline: 1px solid var(--orange);
    color: var(--orange);
    background-color: white;
}

/* For mobile phones */
@media only screen and (max-width:640px) {
    nav {
        width: 100%;
    }

    .nav-links>ul>li {
        font-size: 0.6rem;
    }

    .logo {
        line-height: 0;
        margin-bottom: 20px;
        width: 100%;
        padding: 30px 10px;
    }

    .logo-text {
        display: inline;
    }

    .nav-links>ul {
        font-size: 10px;
    }
}