.team-section {
    margin-bottom: 50px;
}

.team-heading-container {
    display: flex;
    justify-content: center;
}

.team-heading {
    text-align: center;
    margin: 50px 0;
    width: 100%;
    color: var(--orange);
    background-color: var(--blue);
}

.team-members {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.member-details {
    display: flex;
    flex-direction: column;
}

.member-img {
    flex: 80%;
}

.member-img>img {
    aspect-ratio: 3/4;
    object-fit: cover;
}

.member-img>img {
    width: 300px;
    box-shadow: 0px 0px 20px;
}

.about-member {
    margin-top: 1rem;
    text-align: center;
    flex: 20%;
}


.member-title,
.member-name {
    font-size: 1rem;
    font-weight: bold;
}


@media only screen and (max-width: 640px) {
    .team-members {
        display: block;
    }

    .member-details {
        border: none;
        display: grid;
        place-items: center;
    }

    .member-img>img {
        width: 200px;
    }
}